# Temporarily use a prerelease of molecule.  The latest release of
# molecule does not play well with ansible 2.8.  We will revert this
# once a new release comes out.
molecule[docker] >= 2.22rc3
pre-commit
# Due to an incompatibility from flake8-docstrings with the newest pydocstyle version,
# we pin this to <4.0.0. Otherwise, flake8 fails with:
# "flake8-docstrings" failed during execution due to "module 'pydocstyle' has no attribute 'tokenize_open'"
# Once the official fix is released, we could switch it back to a newer version:
# https://gitlab.com/pycqa/flake8-docstrings/issues/36
# https://github.com/PyCQA/pydocstyle/issues/375
pydocstyle<4.0.0
