---
# tasks file for ansible-role-xfce

- name: Load var file with package names based on the OS type
  include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        # Add regex_replace() filters to remove spaces and slashes. This allows
        # the OS family/distribution for Kali, "Kali GNU/Linux", to be easily
        # mapped to a vars file.
        - "{{ ansible_distribution | regex_replace('[ /]', '_') }}.yml"
        - "{{ ansible_os_family | regex_replace('[ /]', '_') }}.yml"
      paths:
        - "{{ role_path }}/vars"

- name: Install Xfce desktop environment
  package:
    name:
      "{{ package_names }}"

# Does this go here?  Can this be generalized?
- name: Disable screen locking
  file:
    path: /etc/xdg/autostart/light-locker.desktop
    state: absent
