[Desktop Entry]
Type=Application
Name=Create a shortcut to the shared data directory
Exec=/bin/bash -c 'ln -snf /data /home/$USER/Desktop/data'
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
