[Unit]
Description=Create file share symlink

[Service]
Type=oneshot
# Make sure the Desktop directory exists before creating the symlink
ExecStartPre=/usr/bin/mkdir --parents %h/Desktop
ExecStart=/usr/bin/ln --symbolic --no-dereference --force /share %h/Desktop/share
NoNewPrivileges=true
RemainAfterExit=yes

[Install]
WantedBy=default.target
